*.DS_Store
*.log
instance.cfg
begin.bat
end.bat
begin.sh
end.sh
minecraft/asm/
minecraft/backups/
minecraft/blueprints/
minecraft/dumps/
minecraft/hats/
minecraft/journeymap/
minecraft/liteconfig/
minecraft/logs/
minecraft/resourcepacks/
minecraft/saves/
minecraft/screenshots/
minecraft/scripts/
minecraft/texturepacks/
minecraft/1213309934
minecraft/options.txt
minecraft/usernamecache.json
minecraft/config/InvTweaks.cfg
minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
