*.DS_Store
*.log
instance.cfg
*begin*
*end*
minecraft/asm/
minecraft/backups/
minecraft/blueprints/
minecraft/config/witchery_debug.cfg
minecraft/crash-reports
minecraft/dumps/
minecraft/dynmap/
minecraft/hats/
minecraft/journeymap/
minecraft/liteconfig/
minecraft/logs/
minecraft/reports/
minecraft/resourcepacks/
minecraft/saves/
minecraft/screenshots/
minecraft/scripts/
minecraft/texturepacks/
minecraft/1213309934
minecraft/options.txt
minecraft/usernamecache.json
minecraft/config/InvTweaks.cfg
minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip